* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* nav */
header {
    background: linear-gradient(135deg, #0b52d5 0%, #7704e2 50%, #222222 100%) ;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover,
.menu .active {
    color: #00c3ff;
}

/* biografia */
.profile-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
}

.profile-container .card {
    background: #f5f5f5;
    padding: 25px;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.4s, box-shadow 0.4s;
}

.profile-container .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.profile-card img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-container .card h2 {
    margin-bottom: 15px;
    color: #00c3ff;
}

/* informacia */
.info-windows {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
    transition: transform 0.4s, box-shadow 0.4s;
}

.info-card {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.info-card h3 {
    margin-bottom: 10px;
    color: #00c3ff;
}

.info-card a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

/* kontakt */
.contact {
    padding: 40px;
    background: #f0f8ff;
    border-radius: 15px;
    max-width: 600px;
    margin: 40px auto;
}

.contact h2 {
    text-align: center;
    color: #00aaff;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input,
.form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 100%;
}

.form button {
    padding: 12px;
    border-radius: 5px;
    border: none;
    background: #00aaff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form button:hover {
    background: #0088cc;
}

/* rensponsive */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }
}



/* footer */

* {
  box-sizing: border-box;
}


html,body {
    height : 100%;
    margin : 0;
}

body {
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}


footer {
    background:  linear-gradient(135deg, #0b52d5 0%, #7704e2 50%, #222222 100%);
    color: white;
    text-align: center;
    padding: 15px;
}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  transition: 0.3s;
}


html {
  scroll-behavior: smooth;
}



/* background */

html, body {
  min-height: 100%;
}

body {
  background-image: url("img/bg-profile.jpg");
  background-size: cover;        /* фото масштабується */
  background-position: center;   /* завжди по центру */
  background-repeat: no-repeat;
  background-attachment: fixed;  /* тримається при скролі */
}