/* Global styles */
* {
    font-family: "Courier New", Courier, monospace;
    color: #00ff55;
}

body {
    background: #000;
    margin: 0;
    padding: 20px;
}

/* Background lines */
body::after {
    content: "";
    pointer-events: none;
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 255, 0, 0.15) 0,
        rgba(0, 255, 0, 0.15) 3px,
        transparent 3px,
        transparent 7px
    );
    opacity: 0.5;
}

/* Typewriter animation */
.type-line {
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;

    animation: typing 2s steps(14, end) forwards;
    text-shadow: 0 0 5px #00ff55;
}

@keyframes typing {
    from { width: 0; }
    to { width: 14ch; }
}

/* Terminal sections */
.terminal {
    max-width: 900px;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: 0 0 5px #00ff55;
}

.terminal section {
    margin-bottom: 20px;
}

/* Collapsible labels */
.label {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    margin: 12px;
    padding: 0;
}

/*TO_DO: zmien na konkretną klase */
section>ul,
section>p:not(.label) {
    margin: 0;
    max-height: 2000px;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

section.collapsed>ul,
section.collapsed>p:not(.label) {
    max-height: 0;
    opacity: 0;
}

/* Flex header */
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
    margin-bottom: 12px;
    border-bottom: 1px solid #00ff55;
}

.header-section {
    text-decoration: none; /* zabiera _ z linków! */
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    transition: background 0.3s;
}

.header-section:hover {
    font-style: italic;
    background: rgba(0, 255, 85, 0.2);
    border-radius: 4px;
}

/* Flex grid layout */
.flex-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main-col { flex: 5; }

.side-col {
    flex: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00ff55;
    padding: 200px 0;
}

@media (max-width: 1200px) {
    .side-col { display: none; }
}

/* Lists */
ul {
    list-style: none;
    padding-left: 20px;
    margin: 5px 0 15px 0;
}
ul li::before { content: " - "; }

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}



/*------------- FORMULARZ -----------------*/
.contact-form {
    padding: 40px 20px;
    border: 2px solid #00ff55;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form label{
    font-weight: bold;
    text-shadow: 0 0 3px #00ff55;
}

.contact-form input,
.contact-form textarea{
    background-color: #000;
    color: #00ff55;
    border: 1px solid #00ff55;
    padding: 8px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: -9px;
    border-radius: 4px;
    resize: none;
}


.contact-form button{
    background-color: #000;
    color: #00ff55;    
    border: 1px solid #00ff55;
    padding: 8px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}
.contact-form button:hover {
    background-color: #00ff55;
    color: #000;
}
